* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background:#FAF1E4;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background:#435334;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px #435334;
}

header h1 {
    font-size: 2rem;
    color: #CEDEBD;
}

.container {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.services {
    background-color:#CEDEBD;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px #CEDEBD;
    text-align: center;
}

.services h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color:  #435334;
}

.services ul {
    list-style-type: none;
}

.services ul li {
    padding: 8px 0;
    font-weight: bold;
    color:#435334;
    transition: 0.3s;
}

.services ul li:hover{
    color: #F4EDD3;
    transform: scale(1.1);
}

.recent-events {
    background-color:#CEDEBD;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px #CEDEBD;
    text-align: center;
}

.recent-events h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #435334;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 48%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px #435334;
}

.gallery img:hover {
    transform: scale(1.05);
    border-radius: 30px;
    box-shadow: 0 4px 8px #435334;
}